<!DOCTYPE html>
<html lang="en" class="min-h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Demo · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="min-h-screen antialiased text-gray-900 relative pb-12">
    <header class="relative border-b border-gray-200 bg-white flex items-center justify-between px-4 py-4 sm:px-6 lg:px-8">
      <div class="font-bold">
        Phoenix Framework
      </div>
      <nav role="navigation" >
        <ul class="flex text-sm leading-5">
          <li>
            <a href="https://hexdocs.pm/phoenix/overview.html"
              class="font-medium text-gray-500 hover:text-gray-900">
              Get Started
            </a>
          </li>
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <li class="ml-12">
              <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home),
                class: "font-medium text-gray-500 hover:text-gray-900"
              %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <% info = get_flash(@conn, :info) %>
    <%= if info do %>
      <p class="bg-blue-50 px-4 py-3 flex items-start lg:justify-center lg:px-8 lg:py-4 text-sm leading-6 font-medium text-blue-700" role="alert">
        <%= info %>
      </p>
    <% end %>

    <% alert = get_flash(@conn, :error) %>
    <%= if alert do %>
      <p class="bg-red-50 px-4 py-3 flex items-start lg:justify-center lg:px-8 lg:py-4 text-sm leading-6 font-medium text-red-700" role="alert">
        <%= alert %>
      </p>
    <% end %>

    <main role="main" class="max-w-6xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
      <%= @inner_content %>
    </main>

    <footer class="absolute left-0 bottom-0 w-full h-12 border-t border-gray-200 bg-gray-50 text-gray-700 flex justify-center items-center">
      copyright
    </footer>
  </body>
</html>
